
*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1{
    
    color: rgb(210, 210, 210);
    font-size: 50pt;
    display: flex;
    justify-content: center;
    border-bottom: 0.2vh solid #d5d4d4;;

}

#indice  {
font-size: 20pt;
color: gray;
padding-left: 20%;
padding-bottom: 20%;
}

a{
    text-decoration: none;
    color: gray;
}

a:hover {
    background-color: yellow;
    color: black;
  }

