* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header {
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header img {
    height: 100px;
}

body {
width: 100%;
margin-left: auto;
margin-right: auto;
background-image: url(imagenes/fondo-1400x860.jpg);
background-size: cover;
}

.top-nav {
    display: flex;
    gap: 20px;
}

.top-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}


.contenedor-de-texto{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
   
    padding: 50px;
   
}

.texto {
    width: 45%;
    
}

.cosmos {
    width: 45%;
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
    padding-top: 30%;
    
    
    
    }

.cosmos li{
    display: inline-block;
    list-style-type: none;
    padding-left: 5%;

}

.cosmos img{
width: 25%;
}
.texto h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.texto p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.texto2 p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #007bff;
    
}
.texto2 a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.texto a:hover {
    background-color: #0056b3;
}

   

#Photoshop{
    width: 30px;
}

#illustrator{
    width: 30px;
}

#paleta {
    width: 30px; ;
}
.imagen img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    color: #fff;
    
}

#ofertas {
    display: flex;
    justify-content: start;
    border-top: 0.2vh solid #444;
    border-bottom: 0.2vh solid #444;
    font-size: 10pt;
    list-style: none;
}

#ofertas li{
padding-left:2% ;
}
#ofertas2 {
    color: darkgoldenrod;
  
}
.links  {
    padding-left: 2%;
    color: #fff;
   
    font-size: 20px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
    font-size: 10pt;
    text-align: center;
}
.uno{
    flex: 5%;
    text-align: left;
}

