div {
    box-sizing: border-box; /* para que los bordes, paddings estén en la anchura (determinada por col) */
}

.izquierda{
    background-color: rgb(110, 226, 43);
    height: 90vh;
}

.derecha{
    background-color: rgb(19, 26, 217);
    height: 90vh;
}
.sup {
    background-color: rgb(114, 127, 113);
    height: 20vh;
}
.inf {
    background-color: rgb(154, 49, 121);
    height: 70vh;
}
.abajo{
    background-color: rgb(217, 128, 19);
    height: 10vh;
}
@media (min-width: 768px) {
    #galeria div{
        width: 50%;  /* se aplica desde min-width desde 768px */
    }
}        
